<div class="photo-editor">
    <div  class="fw-bold fs-3 d-flex justify-content-center " style="color: rgb(0, 0, 0); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Upload new photo or Edit photo</div>
    <hr class="m-0">
    <!-- <div class="preview">
        <div class="row d-flex justify-content-evenly">
            <div class="col-3 bg-danger m-1">
                <div>
                    <img  style="height: 100px;" src={{photos[0].imageUrl}} alt="">
                </div>
                <div class="d-flex justify-content-evenly">
                    <button class="btn btn-sm btn-primary">Main</button>
                    <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            <div class="col-3 bg-danger"> ok</div>
            <div class="col-3 bg-danger"> ok</div>
            <div class="col-3 bg-danger"> ok</div>

        </div>
    </div> -->
    <div class="row">
        <div *ngFor="let photo of photos" class="col-4 my-2" >
            <div class="card">
                <img class="card-img-top" src={{photo.imageUrl}} alt=""> 
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button [disabled]="photo.isPrimary" (click)="setPrimaryPhoto(id,photo)" class="btn btn-sm btn-outline-success mx-1 rounded-1">Main</button>
                        <button [disabled]="photo.isPrimary" (click)="deletePhoto(id,photo)" class="btn btn-sm btn-danger mx-1 rounded-1"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="background-color:aliceblue ;">
            <div class="btn-group d-flex">
                <input type="file" formControlName="image" (change)="onFileSelected($event)">
                <button [disabled]="isUploading" (click)="uploadPhoto(id)" class="btn btn-primary rounded">
                    <div *ngIf="!isUploading">
                        <i class="fa-solid fa-upload mx-2"></i>Upload
                    </div>
                    <div *ngIf="isUploading">
                        <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>Uploading
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
