.card:hover img{
    transform: scale(1.15,1.15);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.5;
}

.card{
    background-color: white;
    border: none;
}

.make-bold{
    font-weight:600;
}

.divider{
    margin-inline: 5px;
    height: 15px;
    margin-block: auto;
    
}

.inside-card{
    border: 1px solid rgb(225, 220, 220);
    
}
.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.img-wrapper{
    position: relative;
    overflow: hidden;
    height: 260px;
}

.buttons-list{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30%;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms ease-out;
    
}

.card:hover .buttons-list{
    bottom: 20%;
    transition: all 300ms ease-in;
}

.data-box1{
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 228, 196, 0.812);
    border-radius: 0% 30%;
    padding-left:10px;
    padding-right: 10px;
}

.data-box2{
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 228, 196, 0.812);
    border-radius: 30% 0%;
    padding-left:10px;
    padding-right: 10px;
}