

<div class="card shadow-sm px-2 py-2">
  <div class="inside-card rounded-2">

    <div class="img-wrapper" >
      <img class=" card-img-top h-100" src="assets/house2.jpg " alt="House">
      <ul class="list-inline text-center buttons-list">
        <li class="list-inline-item">
          <button class="btn btn-secondary" routerLink="/property-detail/{{Property.id}}">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary">
            <i class="fa-regular fa-address-book"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="card-body p-1">
      
      <div class="container d-flex flex-column">
        <div class="fw-bold fs-4 d-flex justify-content-center align-items-center text-primary">
          {{Property.bhk}} BHK {{Property.propertyType}}
        </div>
        <div style="color: gray; font-weight: 300;">
          in {{Property.name}}, {{Property.city}} ({{Property.country}})
        </div>
        <div class="d-flex flex-row  make-bold">
          <div class="">
            {{Property.funrnishedType}} Furnished
          </div>
          <div class="vr divider"></div>
          <div class="">
            {{Property.readyToMove==="Yes"?"Ready to move":"Not ready to move"}}
          </div>
        </div>
        <hr class=" m-1">
        <div class="d-flex flex-row mb-2  make-bold">
          <div class="d-flex flex-row">
            <div  style="margin-right: 4px;">Price: </div>
            <div style="color: red;">{{Property.price}} INR</div>
          </div>
          <div class="vr divider"></div>
          <div class="d-flex flex-row">
            <div style="margin-right: 4px;">Area: </div>
            <div style="color: red;">{{Property.builtArea}} Sq. Ft.</div>
          </div>
        </div>
      </div>
      
      <!-- <div class="text-nowrap">4BHK Apartment</div>
      <div> Name {{Property.Name}}</div>
      <div> {{Property.Type}} </div>
      <div> {{Property.Price}} </div> -->
    </div>
  </div>
</div>