<div class="form-wrapper container row mx-auto mt-4">
    <div class="card container col-8 shadow-lg">
        <div class="card-header form-header">List new property</div>
        <div class="card-body">
            <form [formGroup]="propertyDataForm">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [class.active]="selectedTab==0" data-bs-toggle="tab"
                            data-bs-target="#basic-info" type="button" role="tab" aria-selected="true"
                            (click)="selectTab(0)">Baisc Info</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [class.active]="selectedTab==1" data-bs-toggle="tab"
                            data-bs-target="#pricing-and-area" type="button" role="tab" aria-selected="false"
                            (click)="selectTab(1)">Pricing & Area</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [class.active]="selectedTab==2" data-bs-toggle="tab"
                            data-bs-target="#address-and-contact" type="button" role="tab" aria-selected="false"
                            (click)="selectTab(2)">Address & Contact</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [class.active]="selectedTab==3" data-bs-toggle="tab"
                            data-bs-target="#other-details" type="button" role="tab" aria-selected="false"
                            (click)="selectTab(3)">Other details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [class.active]="selectedTab==4" data-bs-toggle="tab"
                            data-bs-target="#upload-images" type="button" role="tab" aria-selected="false"
                            (click)="selectTab(4)">Upload images</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade"  [class.active]="selectedTab==0" formGroupName="basicInfo" [class.show]="selectedTab==0"
                        id="basic-info" role="tabpanel">
                        <div class="mt-3">
                            <div class="form-group col-12">
                                <div class="my-1">I want to</div>
                                <input type="radio" class="btn-check" formControlName="sellOrRent" value="Rent"
                                    id="success-outlined" autocomplete="off">
                                <label class="btn btn-outline-success  btn-sm rounded-2" style="margin-right: 10px;"
                                    for="success-outlined">Rent</label>

                                <input type="radio" class="btn-check" formControlName="sellOrRent" value="Sell"
                                    id="danger-outlined" autocomplete="off">
                                <label class="btn btn-outline-warning btn-sm rounded-2"
                                    for="danger-outlined">Sell</label>
                            </div>
                            <div class="form-group col-12 my-1">
                                <div>BHK</div>
                                <div class="btn-group" *ngFor="let item of [1,2,3,4]" role="group"
                                    aria-label="Basic radio toggle button group">
                                    <span style="margin-right: 10px;">
                                        <input type="radio" class="btn-check" formControlName="bhk" value="{{item}}"
                                            id="{{item}}" autocomplete="off">
                                        <label class="btn btn-outline-info btn-sm my-2 rounded-2"
                                            for="{{item}}">{{item}}</label>
                                    </span>
                                </div>

                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Name</label>
                                <input type="text" class="form-control" formControlName="name"
                                  [(ngModel)]="propertyCapturedValues.Name"  >
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>

                            <div class="form-group col-12 my-3">
                                <div>Type</div>
                                <div class="btn-group" *ngFor="let item of propertyType" role="group"
                                    aria-label="Basic radio toggle button group">
                                    <span style="margin-right: 10px;">
                                        <input type="radio" class="btn-check" formControlName="propertyTypeId" value="{{item.id}}"
                                            id="{{item.name}}" autocomplete="off">
                                        <label class="btn btn-outline-info btn-sm my-2 rounded-2"
                                            for="{{item.name}}">{{item.name}}</label>
                                    </span>
                                </div>
                                <!-- <span *ngIf="!propType.valid && propType.touched" class="error-msg">Please enter a valid Type.</span> -->
                            </div>

                            <div class="form-group col-12">
                                <div>Furnished Type</div>
                                <div class="btn-group" *ngFor="let item of furnishTypeData" role="group"
                                    aria-label="Basic radio toggle button group">
                                    <span style="margin-right: 10px;">
                                        <input type="radio" class="btn-check" formControlName="funrnishedTypeId"
                                            value="{{item.id}}" id="{{item.name}}" autocomplete="off">
                                        <label class="btn btn-outline-info btn-sm my-2 rounded-2"
                                            for="{{item.name}}">{{item.name}}</label>
                                    </span>
                                </div>
                                <!-- <span *ngIf="!propPrice.valid && propPrice.touched" class="error-msg">Please enter valid Price.</span> -->
                            </div>

                            <div class="form-group col-12">
                                <div>City</div>
                                <select class="form-control" formControlName="cityId" >
                                    <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                                <!-- <span *ngIf="!propPrice.valid && propPrice.touched" class="error-msg">Please enter valid Price.</span> -->
                            </div>

                            <div class="col-12 mt-3 d-flex justify-content-center">
                                <button class="btn btn-primary w-100" (click)="navigateTab(1)">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" [class.active]="selectedTab==1" formGroupName="pricingAndArea" [class.show]="selectedTab==1"
                        id="pricing-and-area" role="tabpanel">
                        <div class="mt-3">
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Price (in INR)</label>
                                <input type="number" class="form-control" formControlName="price" [(ngModel)]="propertyCapturedValues.Price"
                                   >
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Maintenance (in INR)</label>
                                <input type="number" class="form-control" formControlName="maintenance">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Security (in INR)</label>
                                <input type="number" class="form-control" formControlName="security">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Built Area (in sqft.)</label>
                                <input type="number" class="form-control" formControlName="builtArea">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Carpet Area (in sqft.)</label>
                                <input type="number" class="form-control" formControlName="carpetArea">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="col-12 mt-3 d-flex justify-content-center">
                                <button class="btn btn-primary w-100 " style="margin-right: 5px;"
                                    (click)="navigateTab(-1)">Previous</button>
                                <button class="btn btn-primary w-100" style="margin-left: 5px;"
                                    (click)="navigateTab(1)">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" [class.active]="selectedTab==2" formGroupName="addressAndContact" [class.show]="selectedTab==2"
                        id="address-and-contact" role="tabpanel">
                        <div class="mt-3">
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Address</label>
                                <input type="text" class="form-control" formControlName="address">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Floor</label>
                                <input type="number" class="form-control" formControlName="floor">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Number of Floors</label>
                                <input type="number" class="form-control" formControlName="numberOfFloors">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Landmark</label>
                                <input type="text" class="form-control" formControlName="landmark">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="col-12 mt-3 d-flex justify-content-center">
                                <button class="btn btn-primary w-100 " style="margin-right: 5px;"
                                    (click)="navigateTab(-1)">Previous</button>
                                <button class="btn btn-primary w-100" style="margin-left: 5px;"
                                    (click)="navigateTab(1)">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" [class.active]="selectedTab==3" formGroupName="otherDetails" [class.show]="selectedTab==3"
                        id="other-details" role="tabpanel">
                        <div class="mt-3">
                            <div class="form-group col-12">
                                <div>Ready to move</div>

                                <input class="btn-check" type="radio" formControlName="readyToMove" id="moveoption1"
                                    value="Yes">
                                <label class="btn btn-outline-success btn-sm" for="moveoption1">Yes</label>


                                <input class="btn-check" type="radio" formControlName="readyToMove" id="moveoption2"
                                    value="No">
                                <label class="btn btn-outline-warning btn-sm mx-2 my-1" for="moveoption2">No</label>


                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Possession/Available From</label>
                                <input type="date" class="form-control" formControlName="availableFrom">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12 my-2">
                                <label for="name" class="my-1">Age of Property</label>
                                <input type="number" class="form-control" formControlName="ageOfProperty">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12 my-2">
                                <div>Gated Community</div>

                                <input class="btn-check" type="radio" formControlName="gatedCommunity" id="gatedOption1"
                                    value="Yes">
                                <label class="btn btn-outline-success btn-sm" for="gatedOption1">Yes</label>


                                <input class="btn-check" type="radio" formControlName="gatedCommunity" id="gatedOption2"
                                    value="No">
                                <label class="btn btn-outline-warning btn-sm mx-2 my-1" for="gatedOption2">No</label>


                            </div>
                            <div class="form-group col-12 my-1">
                                <div>Main Entrance</div>
                                <div class="btn-group" *ngFor="let item of mainEntryData" role="group"
                                    aria-label="Basic radio toggle button group">
                                    <span style="margin-right: 10px;">
                                        <input type="radio" class="btn-check" formControlName="mainEntreance"
                                            value="{{item}}" id="{{item}}" autocomplete="off">
                                        <label class="btn btn-outline-info btn-sm my-2 rounded-2"
                                            for="{{item}}">{{item}}</label>
                                    </span>
                                </div>

                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="form-group col-12">
                                <label for="name" class="my-1">Description</label>
                                <input type="text" class="form-control" formControlName="description">
                                <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                            </div>
                            <div class="col-12 mt-3 d-flex justify-content-center">
                                <button class="btn btn-primary w-100 " style="margin-right: 5px;"
                                    (click)="navigateTab(-1)">Previous</button>
                                <button class="btn btn-primary w-100" style="margin-left: 5px;"
                                    (click)="navigateTab(1)">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" [class.active]="selectedTab==4" [class.show]="selectedTab==4"
                        id="upload-images" role="tabpanel">
                        <div class="mt-3">
                            <div class="image-box card">

                                <div class="form-group col-12">
                                    <label for="name" class="my-1">Upload Images</label>
                                    <input type="file" formControlName="image" (change)="onFileSelected($event)">
                                    <!-- <span *ngIf="!propName.valid && propName.touched" class="error-msg">Please enter a valid Name.</span> -->
                                </div>
                                    <img *ngIf="imagePreview" class="card-img-top mt-2 rounded-2" style="max-height: 400px;" [src]="imagePreview" alt="">
                            </div>
                            <div *ngIf="!isUploading" class="col-12 mt-3 d-flex justify-content-center">
                                <button class="btn btn-primary w-100 " style="margin-right: 5px;"
                                    (click)="navigateTab(-1)">Previous</button>
                                <button class="btn btn-outline-success w-100" style="margin-left: 5px;"
                                    (click)="onSubmit()">Submit</button>
                            </div>
                            <div *ngIf="isUploading" class="col-12 mt-3 d-flex justify-content-center">
                                <button disabled class="btn btn-info w-100 " >
                                    <span class="spinner-border spinner-border-sm mx-2" role="status" aria-hidden="true"></span>
                                    <span class="fw-bold">
                                        Please wait...
                                    </span>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>